*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    
}

.container{
    max-width: 1700px;
    margin: 0 auto;
    margin-top: 15px;
}
.header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/img/word.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 45vh;
        display: flex;
        align-items: center;
        margin-bottom: 34px;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    color: #fffdfc;
    font-size: 35px;
    font-weight: 800;
    align-items: center;
    
}

.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 800;
}

.navbar ul li a:hover{
    color: #ce9678;
}
#menu{
    display: none;

}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
   
}

.header-conter{
    align-items: center;
    text-align: center;
}

.header-conter  h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.header-conter  p{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.footer{
    padding: 35px 0;
    background-color: #000000;  
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-weight: 800;
    align-items: center;
}
.footer p{
    font-size: 20px;
    color: #e1e2e6;
    text-align: center;
    margin-left: 15px;
    
}
.bod{
    background-color: #fff;
    max-width: 800px;
    margin: auto;
    align-items: center;
    text-align: center;
    border: solid 5px;
    box-shadow: 1px 1px 10px 10px#888;
    border-radius: 25px;
}
.Country{
    background-color: #fff;
    padding: 15px;
    margin-top: 34px;
    margin: auto;
    max-width: 800px;
    text-align: center;
    align-items: center;
    font-size: 20px;
}
select{
    font-size: 20px;
}
.quest{
    margin-top: 20px;
    
}
.img-1{
    width: 40rem;
    border-radius: 15px;
}
body{
    background-color: rgb(236, 219, 198);
    
}
.roo{
    align-items: center; 
    display: flex; 
    text-align: center;  
    margin-left: 50px; 
}
.btns{
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    width: 100%;
    text-align: center;
    display: flex;
}
.btn{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/img/word.jpg);
    width: 10rem;
    height: 2rem;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    color: #fff ;
}
.btn:hover{
    width: 10rem;
    height: 2rem;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    color: #d5d9dc ;
}
.resul{
    display: none;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}